$color-primary: #f69108;
$color-secondary: #f0a642;
$color-secondary-light: rgba($color-secondary, 0.15);
$color-black: #000b14;
$color-gray: #666769;
$color-gray-light--1: rgba($color-gray, 0.6);
$color-gray-light--2: rgba($color-gray, 0.1);
